<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-icon id="atrasPerfil" name="arrow-back-outline" [routerLink]="['/home/p-principal']"></ion-icon>
      <ion-title>Usuarios Registrados</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-row class="row">
      <p>Búscalo más rápido :)</p>
      <ion-searchbar class="buscador" show-clear-button="always" clear-icon="trash-bin" placeholder="Nombre del usuario"></ion-searchbar>
    </ion-row>
  </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="2">
          <ion-card class="card-wrap">
            <ion-icon class="iconBan" name="ban" [routerLink]="['/banearusuario']"></ion-icon>
            <ion-card-header class="header">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              <ion-card-title class="nombreUsuario">Nombre usuario</ion-card-title>
              <ion-card-subtitle class="id">ID: 01</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content class="contentCard">
              <b>Here's a small text description for the card content. Nothing more, nothing less.</b>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="2">
          <ion-card class="card-wrap">
            <ion-icon class="iconBan" name="ban"></ion-icon>
            <ion-card-header>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              <ion-card-title class="nombreUsuario">Nombre usuario</ion-card-title>
              <ion-card-subtitle class="id">ID: 02</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content class="contentCard">
              <b>Here's a small text description for the card content. Nothing more, nothing less.</b>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-sm="12" size-md="6" size-lg="4" size-xl="2">
          <ion-card class="card-wrap">
            <ion-icon class="iconBan" name="ban"></ion-icon>
            <ion-card-header>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              <ion-card-title class="nombreUsuario">Nombre usuario</ion-card-title>
              <ion-card-subtitle class="id">ID: 03</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <b>Here's a small text description for the card content. Nothing more, nothing less.</b>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
