ion-header{
  border-radius: 0 0 15px 15px;
}

ion-toolbar{
    --background: #2dd55b;
    border-radius: 0 0 15px 15px;
    box-shadow:0 0 6px 6px #2dd55a9e;
    ion-item{
        --background: #2dd55b;
        --border-color: transparent;
        color: white;
        font-size: 1.5rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }

    ion-title{
        font-size: 1.5rem;
    }

    ion-icon{
        color: white;
    }
}

ion-content{
    --background: #ffffff;
    ion-item{
    --background: #ffffff;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 3rem;
    --border-color: #2dd55b;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    p{
        margin-bottom: -0.7rem;
        color: rgb(50, 174, 62);
    }

    }
}




img{
    max-width: 100%;
    border-radius: 10%;
    max-height: 250px;
    width: 100%;
}

.card-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 12px#f7d48fbf;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.nombreUsuario{
    color: black;
    background: #0abfbc;
    color: #ffffff;
    padding: 2px 2px;
    max-width: 100%;
    border-radius: 7px;
    text-align: center;
}

.id{
    color: gray;
}

.contentCard{
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
    max-height: 100%;
}

.header{
    position: relative;
}

.iconBan {
  position: absolute;
  top: 5px;
  right: 8px;
  font-size: 2rem;
  color: rgb(244, 81, 81);
  z-index: 10;
}


.buscador{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    display: flex;
    margin-bottom: -0.5rem;
    --box-shadow: none;
  --border-width: 0;
  --background: transparent;
  --color: black;
  --placeholder-color:black;
  --icon-color: black;
  --clear-button-color: black;
  --border-radius: 4px;

}

