<<<<<<< HEAD
<<<<<<< HEAD
ion-header{
    background: white;
    box-shadow: none;
    border-color: transparent;
    border: none;
}
=======

>>>>>>> parent of ac67ca7 (mejoras pagina principal)
ion-icon{
    color: white;
    margin-right: 0.5rem;
}

ion-toolbar{
    --background: #2dd55b;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

ion-item{
    --background: #ffffff;
    color: #20a343;
    --border-color: transparent;

    ion-icon{
        color: #8f4b0f;
    }

    ion-label{
        --border-color: #8f4b0f;
        
    }
}

ion-content{
    --background: #ffffff;
    color: #8f4b0f;
}

ion-card{
    --background: #ffffff;
    color: #8f4b0f;
}

ion-list{
    background: #ffffff;
}

.error-message {
    display: flex;
    color: red; 
    max-width: 350px;
    text-align: center;
    justify-content: center;
  }

ion-title{
    font-size: 1.5rem;
<<<<<<< HEAD
}

.olas{
    background: #2dd55b;
    max-width: 100%;
    height: 100%;
    background-size: cover;
    animation: shape 5s linear infinite;

    @keyframes shape{
    0%, 100%{
        border-radius: 40% 60% 70% 30% / 0% 0% 60% 50%;
    }

    33%{
        border-radius: 70% 30% 50% 50% / 0% 0% 70% 70%;
    }

    66%{
        border-radius: 100% 60% 60% 100% / 0% 0% 60% 60%;
    }
    }
}
=======
>>>>>>> parent of 834ec35 (componente para el botón de menu)
=======
}
>>>>>>> parent of ac67ca7 (mejoras pagina principal)
