ion-toolbar {
  --background: #256029;
  --color: #fff;
}

ion-title {
  text-align: center;
  width: 100%;
  font-weight: bold;
}

ion-content {
  --background: #e9dac5;
}

ion-card {
  margin: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(56, 142, 60, 0.1);
}

ion-card-title {
  color: #388e3c;
  font-weight: bold;
}

ion-card-content {
  color: #8d6748;
}

ion-item {
  --background: #fff;
  --border-color: #8d6748;
}

ion-button {
  --background: #256029;
  --color: #fff;
  border-radius: 999px;
}

.centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-modal {
  --width: 320px;
  --height: 340px;
  --border-radius: 16px;
}

ion-modal .modal-wrapper, .custom-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}