<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <ion-icon id="atrasAdmin" name="arrow-back-outline" [routerLink]="['/home']"></ion-icon>
      <ion-title>Administración</ion-title>
    </ion-item>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    <ion-item [routerLink]="['/banearusuario']">
      <ion-icon class="ban" name="ban-outline"></ion-icon>
      <ion-label>Banear usuario</ion-label>
    </ion-item>
    <ion-item [routerLink]="['/usuariosbaneados']">
      <ion-icon class="usuariosBaneados" name="people-outline"></ion-icon>
      <ion-label>Usuarios baneados</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
