ion-header{
  border-radius: 0 0 20px 20px;
  box-shadow: none;
}

ion-toolbar{
    --background: #2dd55b;
    border-radius: 0 0 20px 20px;
    box-shadow:0 0 2px 3px #2dd55b;
    margin-bottom: 0.5rem;
    ion-item{
        --background: #2dd55b;
        --border-color: transparent;
        color: white;
        font-size: 1.5rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }

    ion-title{
        font-size: 1.5rem;
    }

    ion-icon{
        color: white;
    }

    ion-avatar{
       height: 40px;
       width: 40px;
       box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.541);
    }
}

ion-content{
  --background: #ffffff;
  color: #944704;
}

.user-profile {
  text-align: center;
  margin-bottom: 20px;
}

.avatar {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.292);
}

.user-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0 5px;
}

.user-email {
  font-size: 1rem;
  color: gray;
}

.action-buttons {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  #botonClave{
    margin-right: 1rem;
  }

  #cierreSesion{
    box-shadow:3px 3px 3px 3px #d52d2d83;
    ion-icon{
      margin-bottom: 0.3rem;
      margin-right: 0.3rem;
    }
  }
}

ion-button {
  text-align: center;
  margin-bottom: 10px;
  --background: white;
  color: #944704;
  --border-radius: 0.5rem;
  border-radius: 20px;
  box-shadow:3px 3px 2px 2px #2dd55a9e;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botonesPerfil{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  ion-icon{
    margin-bottom: 0.3rem;
    margin-right: 0.3rem;
  }
}

ion-list{
  border-radius: 20px;
  background: none;
  box-shadow:3px 3px 3px 3px #2dd55a9e;
  padding: 1.5rem;
  color: #944704;
  ion-item{
    --background: none;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: #944704;
    --border-color: black;
  }

  ion-icon{
    color: #944704;
  }

  ion-label{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}

.olas{
    background: #2dd55b;
    max-width: 100%;
    height: 100%;
    background-size: cover;
    animation: shape 5s linear infinite;

    @keyframes shape{
    0%, 100%{
        border-radius: 40% 60% 70% 30% / 0% 0% 40% 40%;
    }

    33%{
        border-radius: 70% 30% 50% 50% / 0% 0% 50% 60%;
    }

    66%{
        border-radius: 100% 60% 65% 100% / 0% 0% 60% 60%;
    }
    }
}