ion-header{
  border-radius: 0 0 20px 20px;
  box-shadow: none;
}

ion-toolbar{
    --background: #2dd55b;
    border-radius: 0 0 20px 20px;
    box-shadow:0 0 2px 3px #2dd55b;
    margin-bottom: 0.5rem;
    ion-item{
        --background: #2dd55b;
        --border-color: transparent;
        color: white;
        font-size: 1.5rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }

    ion-title{
        font-size: 1.5rem;
    }

    ion-icon{
        color: white;
    }

    ion-avatar{
       height: 40px;
       width: 40px;
       box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.541);
    }
}

ion-content{
    --background: #ffffff;

    ion-item{
        --background: #ffffff;
    }
}

ion-card{
    border-radius: 1rem;
    box-shadow:3px 3px 3px 3px #2dd55a9e;
}

ion-card-title{
    color: #9449079a;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ion-card-header{
    display: flex;
    align-items: center;
    text-align: center;
    background: #ffffff;
    color: black;
    ion-avatar{
        box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.292);
    }
}

ion-card-content{
    background: #ffffff; 

    ion-item{
        display: flex;
        --background: #ffffff;
        color: #944704;
        --border-color: #2dd55b;
        justify-content: center;
        margin-bottom: 2rem;
        margin-right: 1.5rem;
        
        ion-input{
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
      }
    
      ion-button{
        display: flex;
        padding: 12px 24px;
        color: white;
        --background: #2dd55b;
        --border-radius: 1rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

.olas{
    background: #2dd55b;
    max-width: 100%;
    height: 100%;
    background-size: cover;
    animation: shape 5s linear infinite;

    @keyframes shape{
    0%, 100%{
        border-radius: 40% 60% 70% 30% / 0% 0% 40% 40%;
    }

    33%{
        border-radius: 70% 30% 50% 50% / 0% 0% 50% 60%;
    }

    66%{
        border-radius: 100% 60% 65% 100% / 0% 0% 60% 60%;
    }
    }
}