<ion-tabs>
  <ion-tab-bar  class="olas" slot="bottom">
    <ion-tab-button tab="p-consejos">
      <ion-icon name="newspaper-outline"></ion-icon>
      Consejos
    </ion-tab-button>
    <ion-tab-button tab="p-principal">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="g-maceta">
      <ion-icon name="leaf-outline"></ion-icon>
      Macetas
    </ion-tab-button>
    <ion-tab-button tab="menuadmin">
      <ion-icon name="people"></ion-icon>
      Administración
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> 
