<ion-content>
  <ion-segment [(ngModel)]="metodoIngreso">
    <ion-segment-button value="manual">Manual</ion-segment-button>
    <ion-segment-button value="foto">Foto</ion-segment-button>
  </ion-segment>

  <form *ngIf="metodoIngreso==='manual'" (ngSubmit)="guardarPlantaManual()">
    <ion-item>
      <ion-label position="floating">Nombre de la planta</ion-label>
      <ion-input [(ngModel)]="plantaManual.nombre" name="nombre"></ion-input>
    </ion-item>
    <!-- Agrega más campos según necesidad -->
    <ion-button expand="full" type="submit">Guardar</ion-button>
  </form>

  <div *ngIf="metodoIngreso==='foto'">
    <ion-button expand="full" (click)="tomarFoto()">Tomar o subir foto</ion-button>
    <img *ngIf="fotoPreview" [src]="fotoPreview" width="200"/>
    <ion-button expand="full" (click)="identificarPlanta()">Identificar Planta</ion-button>
    <ion-card *ngIf="infoIdentificada">
      <!-- Muestra la info identificada -->
    </ion-card>
  </div>
</ion-content>
