<<<<<<< HEAD
ion-header{
<<<<<<< HEAD
  border-radius: 0 0 20px 20px;
  box-shadow: none;
=======
  border-radius: 0 0 15px 15px;
>>>>>>> parent of fa17693 (modificacion perfil)
}

ion-toolbar{
    --background: #2dd55b;
<<<<<<< HEAD
    border-radius: 0 0 20px 20px;
    box-shadow:0 0 2px 3px #2dd55b;
    margin-bottom: 0.5rem;
=======
    border-radius: 0 0 15px 15px;
    box-shadow:0 0 6px 6px #2dd55a9e;
>>>>>>> parent of fa17693 (modificacion perfil)
    ion-item{
        --background: #2dd55b;
        --border-color: transparent;
        color: white;
        font-size: 1.5rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }

    ion-title{
        font-size: 1.5rem;
    }

    ion-icon{
        color: white;
    }
<<<<<<< HEAD

    ion-avatar{
       height: 40px;
       width: 40px;
       box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.541);
    }
=======
>>>>>>> parent of fa17693 (modificacion perfil)
}

ion-menu-button{
    color: white;
    font-size: 2rem;
}

ion-title{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5 rem;
}

ion-content{
    display: flex;
    --background: #ffffff;
    min-height: 100vh;
}

#perfilHome{
    font-size: 2rem;
    color: white;
}


<<<<<<< HEAD

.card{  
    background: #ffffff;
    position: relative;
    width: 100%;
    max-height: 330px;
    padding: 0.1rem;
    box-shadow: none;
    overflow: hidden;
}

.card span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #2dd55b);
    animation: animate_one 2s linear infinite;
}

@keyframes animate_one {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}


.card span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #2dd55b);
    animation: animate_two 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate_two {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}


.card span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #2dd55b);
    animation: animate_three 2s linear infinite;
    animation-delay: 2s;
}

@keyframes animate_three {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}


.card span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #2dd55b);
    animation: animate_four 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate_four {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
=======
.cardMacetas{  
    display: block;
    flex-wrap: wrap;
    max-width: 150px;
    border-radius: 1rem;
    
>>>>>>> parent of fa17693 (modificacion perfil)
}

ion-card-header{
    align-items: center;
    text-align: center;
    background: #eeeeee;
    
}

ion-card-title{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ion-card-content{
    display: flex;
<<<<<<< HEAD
    background: #a3df5b;
    justify-content: center;
    align-items: center;
    font-size: 1px;
    padding: 0.1rem;
=======
    max-width: 150px;
    background: #a3df5b;
>>>>>>> parent of fa17693 (modificacion perfil)
}

ion-col{
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    
    ion-icon{
        font-size: 1.3rem;
    }
}

#humedad{
    ion-icon{
        color: gray;
    }
    p{
        color: white;
    }
}

#temperatura{
    ion-icon{
        color: red;
    }
    p{
        color: white;
    }
}

#luz{
    ion-icon{
        color: yellow;
    }
    p{
        color: white;
    }
}

#agua{
    ion-icon{
        color: skyblue;
    }
    p{
        color: white;
    }
}

.olas{
    background: #2dd55b;
    max-width: 100%;
    height: 100%;
    background-size: cover;
    animation: shape 5s linear infinite;

    @keyframes shape{
    0%, 100%{
        border-radius: 40% 60% 70% 30% / 0% 0% 40% 40%;
    }

    33%{
        border-radius: 70% 30% 50% 50% / 0% 0% 50% 60%;
    }

    66%{
        border-radius: 100% 60% 65% 100% / 0% 0% 60% 60%;
    }
    }
}






=======
>>>>>>> parent of 4b20f61 (Diseño página principal, no definitiva)
