<<<<<<< HEAD
ion-header{
  border-radius: 0 0 20px 20px;
  box-shadow: none;
}

ion-toolbar{
    --background: #2dd55b;
    border-radius: 0 0 20px 20px;
    box-shadow:0 0 2px 3px #2dd55b;
    margin-bottom: 0.5rem;
=======
ion-toolbar{
    --background: #2dd55b;
    color: black;

>>>>>>> parent of 7277d51 (modificaciones)
    ion-item{
        --background: #2dd55b;
        --border-color: transparent;
        color: white;
        font-size: 1.5rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    }

    ion-title{
        font-size: 1.5rem;
    }

    ion-icon{
        color: white;
    }
<<<<<<< HEAD

    ion-avatar{
       height: 40px;
       width: 40px;
       box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.541);
    }
=======
>>>>>>> parent of 7277d51 (modificaciones)
}

ion-content{
    --background: #ffffff;
    
}

ion-item{
    --background: #2dd55b;
    --border-color: transparent;
}

ion-title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

ion-icon{
    color: white;
    margin-right: 0.5rem;
}

ion-card{
    border-radius: 0.8rem;
    box-shadow: black;
    ion-card-header{
        display: flex;
        align-items: center;
        text-align: center;

        ion-avatar{
            margin-top: 2rem;
            margin-bottom: 0.5rem;
        }

        b{
            color: rgb(83, 83, 83);
        }
    }

    --background: #ffffff;

    ion-item{
        color: black;
        --background: #ffffff; 
        --border-color: gray;
    }

    ion-card-title{
        color: #944907;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    ion-card-subtitle{
        color: rgb(107, 107, 107);
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
}


ion-input{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0.5rem;
    color: #944907;
}

.conectarDispositivo{
    display: flex;
    justify-content: center;
    --background: rgb(233, 232, 232);
    color: black;
    margin-top: 1rem;
    padding-right:3rem;
    padding-left: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    ion-icon{
        color: black;
        font-size: 1.3rem;
    }
}

.anadir{
    display: flex;
    justify-content: center;
    --background: #2dd55b;
    color: white;
    margin-top: 2rem;
    margin: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --border-radius: 1rem;
}

.olas{
    background: #2dd55b;
    max-width: 100%;
    height: 100%;
    background-size: cover;
    animation: shape 5s linear infinite;

    @keyframes shape{
    0%, 100%{
        border-radius: 40% 60% 70% 30% / 0% 0% 40% 40%;
    }

    33%{
        border-radius: 70% 30% 50% 50% / 0% 0% 50% 60%;
    }

    66%{
        border-radius: 100% 60% 65% 100% / 0% 0% 60% 60%;
    }
    }
}