<ion-content class="login-container" [fullscreen]="true">
  <div class="login-wrapper">
    <!--<img class="logo" src="assets/img/shartter.png" alt="Logo" >-->
    
    <form [formGroup]="formularioLogin" id="formulario">
      <div class="inputs" >
        <ion-input 
          formControlName="correo"
          type="email"
          label="Correo electrónico" 
          label-placement="floating" 
          fill="outline"
          placeholder="Ingrese su correo"
          [(ngModel)]="email" 
          required
        ></ion-input>
        <div *ngIf="correo?.touched && correo?.invalid" class="error-message">
          <small *ngIf="correo?.hasError('required')" class="error-text">Es necesario un correo electrónico.</small>
          <small *ngIf="correo?.hasError('email')" class="error-text">Ingrese un correo válido.</small>
        </div>

        <ion-input 
          formControlName="contrasena"
          label="Contraseña" 
          type="password" 
          label-placement="floating" 
          fill="outline" 
          placeholder="Ingrese su contraseña" 
          [(ngModel)]="password"
          required
        ></ion-input>
        <div *ngIf="contrasena?.touched && contrasena?.invalid" class="error-message">
          <small *ngIf="contrasena?.hasError('required')" class="error-text">La contraseña es requerida.</small>
        </div>
        <div *ngIf="loginError" class="error-message">
          <small class="error-text">{{ loginErrorMessage }}</small>
        </div>
      </div>
    
    </form>

    <ion-button class="boton" (click)="onLogin()" type="submit">Iniciar sesión
      <ion-spinner *ngIf="isLoading" slot="start"></ion-spinner>
    </ion-button>
    
    <div class="forgot-password">
      <a [routerLink]="['/verificarcorreo']" href="#">¿Olvidaste la contraseñaa?</a>
    </div>

    <div class="signup-wrapper">
      <p>¿No tienes una cuenta?<a href="/registro"> ¡Regístrate!</a></p>
      <p>Ó</p>
      <a class="ingresoSinRegistro"  (click)="loginInvitado()">Ingresa sin registrarte</a>
    </div>
  </div>
</ion-content>