<ion-content [fullscreen]="true">
  <div class="registro-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>¡Registrate!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formularioRegistro" (ngSubmit)="registrar()">
          <ion-item>
            <ion-input formControlName="nombree" type="text" label="Nombre de usuario" labelPlacement="floating" placeholder="Ingrese su nombre" maxlength="50"></ion-input>
          </ion-item>
          <div *ngIf="nombree?.invalid && (nombree?.touched || submitted)" class="error-message">
            <div *ngIf="nombree?.errors?.['required']">
              El nombre es obligatorio.
            </div>
            <div *ngIf="nombree?.errors?.['minlength']">
              El nombre debe tener un mínimo de 6 caracteres.
            </div>
          </div>

          <ion-item>
            <ion-input formControlName="correoo" type="email" label="Correo electrónico" labelPlacement="floating" placeholder="Ingrese su correo"></ion-input>
          </ion-item>
          <div *ngIf="correoo?.invalid && (correoo?.touched || submitted)" class="error-message">
            <div *ngIf="correoo?.errors?.['required']">
              El correo es obligatorio.
            </div>
            <div *ngIf="correoo?.errors?.['pattern']">
              El correo debe ser válido.
            </div>
          </div>

          <ion-item>
            <ion-input formControlName="contrasenaa" type="password" label="Contraseña" labelPlacement="floating" placeholder="Ingrese su contraseña" maxlength="50"></ion-input>
          </ion-item>
          <div *ngIf="contrasenaa?.invalid && (contrasenaa?.touched || submitted)" class="error-message">
            <div *ngIf="contrasenaa?.errors?.['required']">
              La contraseña es obligatoria.
            </div>
            <div *ngIf="contrasenaa?.errors?.['pattern']">
              La contraseña debe contener al menos una mayúscula, un número, un carácter especial y tener un mínimo de 8 caracteres.
            </div>
          </div>

          <ion-item>
            <ion-input formControlName="confirmarContrasena" type="password" label="Confirmar contraseña" labelPlacement="floating" placeholder="Confirme su contraseña" maxlength="50"></ion-input>
          </ion-item>
          <div *ngIf="confirmarContrasena?.invalid && (confirmarContrasena?.dirty || confirmarContrasena?.touched || submitted)" class="error-message">
            <div *ngIf="confirmarContrasena?.errors?.['required']">
              El campo de confirmación es obligatorio.
            </div>
            <div *ngIf="confirmarContrasena?.errors?.['noCoincide']">
              Las contraseñas no coinciden.
            </div>
          </div>

          <ion-button id="botonRegistrarse" expand="full" type="submit">
            Registrarse
          </ion-button>
        </form>
      </ion-card-content>
      <ion-text>
        <p>¿Ya tienes una cuenta? </p> <a href="/login"> Iniciar sesión</a>
      </ion-text>
    </ion-card>
  </div>
</ion-content>